desktop.ini
E18098_project2.exe
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
test.c
test.exe
a.out
testcsv.csv
testEmpty.csv
testBoth.sh
18098_project2.exe
createCSV.sh
createLongCSV.c
longCSV
meetingData.csv
meetingData.csv
